<!-- 
    /Users/jaewook_lee/CodeWorkplace/MyGitPage/lee-jaewook.github.io/_sass/common/classes/_link.scss
 -->
<style>
    h1 {
        font-size: 34px;
    }
    hr {
        border: 1px solid #08b6ce;
        border-radius: 2px;
    }
    mark {
        background-color: #00e1ff58;
    }
    ul {
        padding-left: 20px;
    }
    table.type04 {
        border-collapse: separate;
        border-spacing: 1px;
        text-align: left;
        line-height: 1.5;
        border-top: 0.5px solid #ccc;
        margin : 20px 10px;
    }
    table.type04 th {
        width: 450px;
        padding: 15px;
        font-weight: bold;
        vertical-align: middle;
        border-bottom: 0.5px solid #ccc;
    }
    table.type04 td {
        width: 700px;
        padding: 15px;
        vertical-align: middle;
        border-bottom: 0.5px solid #ccc;
    }
    a.type0 {
        font-size: 15px;
        font-weight: 400;
        color: #3F4650 !important;
        text-decoration: underline !important;
        text-decoration-color: #08b6ce !important;
        text-decoration-thickness: 2px !important;
        text-underline-offset: 5px !important;
    }
    a.type0:hover {
        color: #08b6ce !important;
    }
    /* a { 
        font-size: 15px;
        color: #3F4650 !important;
    } */
</style>
<!-- start custom main top snippet -->
<br>
<h1>
    Hi there, I'm Jaewook Lee <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="25px">
</h1>
<p>
    I'm a 🧑🏻‍💻 Junior Software Enginner with backend & ML skills. I graduated from university majoring in <mark>software engineering</mark>. I learnt most of my key skills that have I have taken through my education such as teamwork and working to tigh deadlines. I thouroughly enjoyed my time as university and learnt a lot about a healthy work life balance. I believe in the <mark>power of perseverance</mark>, so I have been writing <mark>github daily commit</mark>, and a <mark>technical blog</mark>. I'm always striving to develop in accordance with the four major declarations and 12 principles of Agile.
</p>
<br>
<h2>
    <mark>📞 Contact Me</mark>
</h2>
<p>
    <ul>
        <li>Email : jaewook_lee@outlook.com</li>
        <li><a class="type0" href="https://github.com/lee-jaewook">Github</a></li>
        <li><a class="type0" href="https://lee-jaewook.github.io/resumecard">Resume</a></li>
    </ul>
</p>
<br>
<h2>
    <mark>🛠 Skills</mark>
</h2>
<p>
    <ul>
        <li>Back-End Skills  : JAVA, Spring Framework, RESTful API, Spring Boot, AWS</li>
        <li>Front-End Skills : HTML5, CSS, Javascript, React.js, Vue.js</li>
        <li>Database : MySQL, MongoDB</li>
        <li>Machine Learning : Python, Tensorflow, Sklearn</li>
    </ul>
</p>
<br>
<h2>
    <mark>💻 Projects</mark>
</h2>
<table class="type04">
    <tr>
      <th scope="row">BECS ITRC 학생주도 창의 자율 프로젝트</th>
      <td>
        <ul>
            <li>Description : GAN을 이용한 엣지 컴퓨팅 서비스 품질 예측 모델 개발</li>
            <li>Tech Stack : Python, Tensorflow, GAN</li>
            <li>Result : 저널 출간</li>
        </ul>
      </td>
    </tr>
    <tr>
        <th scope="row">SIGNATURE(SIGN All transactions Using Voice REcord)</th>
        <td>
          <ul>
              <li>Description : 블록체인 기반 구두계약 지원 시스템</li>
              <li>Tech Stack : Vue.js, Docker, Blockchain</li>
              <li>Result : 우수 논문상</li>
          </ul>
        </td>
      </tr>
    <tr>
        <th scope="row">Brr(보르르)</th>
        <td>
          <ul>
              <li>Description : 청각장애인용 이름 인식 손목 진동 호출기 및 애플리케이션</li>
              <li>Tech Stack : Android, Arduino, Bluetooth, Azure</li>
              <li>Result : ICT 장애인 보조공학기기 공모전 우수상(3위)</li>
          </ul>
        </td>
    </tr>
</table>
<br>
<br>
<hr>
<!-- end custom main top snippet -->
