$highlight-background   :#3E555F;
$highlight-foreground   :#f5f5f5;
$highlight-comment      :#6de06d;
$highlight-red          :#ff373e;
$highlight-orange       :#ff9500;
$highlight-yellow       :#ffc800;
$highlight-green        :#20ff6a;
$highlight-aqua         :#55ffe0;
$highlight-blue         :#0fe3ff;
$highlight-purple       :#f477ff;




// $highlight-background   :#000;
// $highlight-foreground   :#eaeaea;
// $highlight-comment      :#969896;
// $highlight-red          :#d54e53;
// $highlight-orange       :#e78c45;
// $highlight-yellow       :#e7c547;
// $highlight-green        :#b9ca4a;
// $highlight-aqua         :#70c0b1;
// $highlight-blue         :#7aa6da;
// $highlight-purple       :#c397d8;
